@import 'fonts';
@import 'variables';
@import 'libs/normalize';

@import 'components/all';

body {
  background-color: $background;
  padding: 50px 0;
  h2{
    padding: 10px;
  }
}

.wrapper {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding-top: 40px;

}